//
   Created by Pierre on 04/12/2017.

extends ../layout

block content
    h1= channel.name

    each message in channel.message
        div
                | #{message.content}
            b by #{message.author} on #{message.date}
        br
        br

    ul
        form(method="POST")
            .form-group
                label(for="contentInput") Content
                textarea#contentInput(name="content")
            input(type="submit", value="Envoyé")
